<div class="modal-header">
  <h4 class="modal-title">Create new task</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div
      class="form-group"
      [ngClass]="{
        invalid: form.get('name').touched && form.get('name').invalid
      }"
    >
      <label for="name">Name:</label>
      <input
        class="form-control"
        id="name"
        type="text"
        formControlName="name"
      />
      <div
        class="validation"
        *ngIf="form.get('name').touched && form.get('name').invalid"
      >
        <small *ngIf="form.get('name').errors.required">Enter name</small>
      </div>
    </div>

    <div
      class="form-group"
      [ngClass]="{
        invalid:
          form.get('description').touched && form.get('description').invalid
      }"
    >
      <label for="description">Description:</label>
      <input
        class="form-control"
        id="description"
        type="text"
        formControlName="description"
      />
      <div
        class="validation"
        *ngIf="
          form.get('description').touched && form.get('description').invalid
        "
      >
        <small *ngIf="form.get('description').errors.required"
          >Enter description</small
        >
      </div>
    </div>

    <div
      class="form-group"
      [ngClass]="{
        invalid:
          form.get('storyPoints').touched && form.get('storyPoints').invalid
      }"
    >
      <label for="storyPoints">Story points:</label>
      <input
        class="form-control"
        id="storyPoints"
        type="text"
        formControlName="storyPoints"
      />
      <div
        class="validation"
        *ngIf="
          form.get('storyPoints').touched && form.get('storyPoints').invalid
        "
      >
        <small *ngIf="form.get('storyPoints').errors.required"
          >Enter Story Points</small
        >
      </div>
    </div>

    <div
      class="form-group"
      [ngClass]="{
        invalid: form.get('createdBy').touched && form.get('createdBy').invalid
      }"
    >
      <label for="createdBy">Created By:</label>
      <input
        class="form-control"
        id="createdBy"
        type="text"
        formControlName="createdBy"
      />
      <div
        class="validation"
        *ngIf="form.get('createdBy').touched && form.get('createdBy').invalid"
      >
        <small *ngIf="form.get('createdBy').errors.required"
          >Enter createdBy</small
        >
      </div>
    </div>

    <div
      class="form-group"
      [ngClass]="{
        invalid:
          form.get('assignedTo').touched && form.get('assignedTo').invalid
      }"
    >
      <label for="assignedTo">Assigned to:</label>
      <input
        class="form-control"
        id="assignedTo"
        type="text"
        formControlName="assignedTo"
      />
      <div
        class="validation"
        *ngIf="form.get('assignedTo').touched && form.get('assignedTo').invalid"
      >
        <small *ngIf="form.get('assignedTo').errors.required"
          >Enter assignedTo</small
        >
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Create task
    </button>
  </form>
</div>
