<div *ngIf="!loading; else loadingBlock">
  <div class="task-lists-wrapper">
    <app-task-list (onChangeStatus)="changeStatus($event)"  (onRemove)="remove($event)" listName="To do " [tasks]="toDoTasks"></app-task-list>
    <app-task-list (onChangeStatus)="changeStatus($event)" (onRemove)="remove($event)" listName="In Progress " [tasks]="inProgressTasks"></app-task-list>
    <app-task-list (onChangeStatus)="changeStatus($event)" (onRemove)="remove($event)" listName="Code Review " [tasks]="codeReviewTasks"></app-task-list>
    <app-task-list (onChangeStatus)="changeStatus($event)" (onRemove)="remove($event)" listName="Done " [tasks]="doneTasks"></app-task-list>
  </div>
</div>
<ng-template #loadingBlock>
  <p class="info-text">Loading...</p>
</ng-template>
