.task-list {
  background-color: rgb(241, 243, 245);
}
.task-list__name {
  height: 2em;
  margin: 0 0.5em;
  text-transform: uppercase;
}
.tasks-wrapper {
  border: 0.5em solid rgb(241, 243, 245);
  border-top: 0;
}
